## Kenyan Avocado Export Investigations

## Navigation:
* [Readme](https://github.com/Fazestar01/Car-Price-Analysis/blob/main/README.md)
* [Clean Data](https://github.com/Fazestar01/Car-Price-Analysis/blob/main/data/cleanedcardata.csv)
* [Raw Data](https://github.com/Fazestar01/Car-Price-Analysis/blob/main/data/CarPrice_Assignment.csv)
* [Dashboard](https://public.tableau.com/app/profile/kaori.ikarashi/viz/CarPriceAnalysis_17501618237170/Story1?publish=yes)

#### Importing libraries and loading data

Firstly and the most important thing here, is to import necessary libraries needed for this investigation:

In [13]:
# importing necessary libraries
import pandas as pd 
import numpy as np

Once libraries were imported, the next stage was to move onto loading the CSV file for the investigation to proceed.

`Side note: The file was originally in the .xlsx format which wasnt very helpful to use as it was near impossible to use on this investigation. The best move was to convert the data into a .CSV file using the Excel software then importing into here.`

In [14]:
# Read CSV file
df = pd.read_csv("../data/raw/kenyan-avocados-guide-2023.csv")
df.head()

,Reporter,TradeFlow,ProductCode,Product Description,Year,Partner,Trade Value 1000USD,Quantity,Quantity Unit
0,Kenya,Export,80440,"Avocados, fresh or dried",2023,World,140939.93,122581000.0,Kg
1,Kenya,Export,80440,"Avocados, fresh or dried",2023,Netherlands,42104.41,37450800.0,Kg
2,Kenya,Export,80440,"Avocados, fresh or dried",2023,United Arab Emirates,19235.41,15931400.0,Kg
3,Kenya,Export,80440,"Avocados, fresh or dried",2023,France,14672.57,12117200.0,Kg
4,Kenya,Export,80440,"Avocados, fresh or dried",2023,Spain,13442.72,11372500.0,Kg

After loading the data, it is an important step to show the .head of the table. This gives a clearer view as it lets me see what the actual data looks like, allows me to check if the columns are named properly and to confirm if the data has loaded properly.

In [ ]:
#inspect the dataset
print("âœ… Dataset shape:", df.shape)
df.head()

âœ… Dataset shape: (62, 9)

,Reporter,TradeFlow,ProductCode,Product Description,Year,Partner,Trade Value 1000USD,Quantity,Quantity Unit
0,Kenya,Export,80440,"Avocados, fresh or dried",2023,World,140939.93,122581000.0,Kg
1,Kenya,Export,80440,"Avocados, fresh or dried",2023,Netherlands,42104.41,37450800.0,Kg
2,Kenya,Export,80440,"Avocados, fresh or dried",2023,United Arab Emirates,19235.41,15931400.0,Kg
3,Kenya,Export,80440,"Avocados, fresh or dried",2023,France,14672.57,12117200.0,Kg
4,Kenya,Export,80440,"Avocados, fresh or dried",2023,Spain,13442.72,11372500.0,Kg

Above shows the number of columns and rows the dataset has and confirms to me that this dataset is enough to be used for this investigation. I also added a 'âœ…' aspect for a clean touch.