## Kenyan Avocado Export Investigations

## Navigation:
* [Readme](https://github.com/Fazestar01/Car-Price-Analysis/blob/main/README.md)
* [Clean Data](https://github.com/Fazestar01/Avocado-Exports-from-Kenya/blob/main/data/cleaned/cleaned_kenyan_avocados.csv)
* [Raw Data](https://github.com/Fazestar01/Avocado-Exports-from-Kenya/blob/main/data/raw/kenyan-avocados-guide-2023.csv)
* [Dashboard](https://public.tableau.com/app/profile/kaori.ikarashi/viz/CarPriceAnalysis_17501618237170/Story1?publish=yes)

#### Importing libraries and loading data

Firstly and the most important thing here, is to import necessary libraries needed for this investigation:

In [51]:
# importing necessary libraries
import pandas as pd 
import numpy as np

Once libraries were imported, the next stage was to move onto loading the CSV file for the investigation to proceed.

`Side note: The file was originally in the .xlsx format which wasnt very helpful to use as it was near impossible to use on this investigation. The best move was to convert the data into a .CSV file using the Excel software then importing into here.`

### Extraction and Load

In [52]:
# Read CSV file
df = pd.read_csv("../data/raw/kenyan-avocados-guide-2023.csv")
df.head()

,Reporter,TradeFlow,ProductCode,Product Description,Year,Partner,Trade Value 1000USD,Quantity,Quantity Unit
0,Kenya,Export,80440,"Avocados, fresh or dried",2023,World,140939.93,122581000.0,Kg
1,Kenya,Export,80440,"Avocados, fresh or dried",2023,Netherlands,42104.41,37450800.0,Kg
2,Kenya,Export,80440,"Avocados, fresh or dried",2023,United Arab Emirates,19235.41,15931400.0,Kg
3,Kenya,Export,80440,"Avocados, fresh or dried",2023,France,14672.57,12117200.0,Kg
4,Kenya,Export,80440,"Avocados, fresh or dried",2023,Spain,13442.72,11372500.0,Kg

After loading the data, it is an important step to show the .head of the table. This gives a clearer view as it lets me see what the actual data looks like, allows me to check if the columns are named properly and to confirm if the data has loaded properly.

In [53]:
#inspect the dataset
print("‚úÖ Dataset shape:", df.shape)
df.head()

‚úÖ Dataset shape: (62, 9)

,Reporter,TradeFlow,ProductCode,Product Description,Year,Partner,Trade Value 1000USD,Quantity,Quantity Unit
0,Kenya,Export,80440,"Avocados, fresh or dried",2023,World,140939.93,122581000.0,Kg
1,Kenya,Export,80440,"Avocados, fresh or dried",2023,Netherlands,42104.41,37450800.0,Kg
2,Kenya,Export,80440,"Avocados, fresh or dried",2023,United Arab Emirates,19235.41,15931400.0,Kg
3,Kenya,Export,80440,"Avocados, fresh or dried",2023,France,14672.57,12117200.0,Kg
4,Kenya,Export,80440,"Avocados, fresh or dried",2023,Spain,13442.72,11372500.0,Kg

Above shows the number of columns and rows the dataset has and confirms to me that this dataset is enough to be used for this investigation. I also added a '‚úÖ' aspect for a clean touch.

### Transformation - Clean and Prepare

Now for this section, I started with cleaning up column names

In [54]:
print(df.columns.tolist())
#display the first few rows of the dataset

['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit']

Cleaning up names for better formatting

In [55]:
# Clean up column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In order to have a clearer analysis, I cut out and kept only the columns that matters

In [56]:
# Select only the columns we need for analysis
columns_to_keep = ['year', 'partner', 'trade_value_1000usd', 'quantity', 'reporter']
df = df[columns_to_keep]

Now to rename columns for better clarity ‚úÖ

In [57]:
df.rename(columns={
    'trade_value_1000usd': 'export_value_usd',
    'quantity': 'export_quantity_tonnes',
    'partner': 'country'
}, inplace=True)

Creating a price per tonne column to show the average price per tonne of avocados in USD. Since export values are in thousands, I multiply by 1000 to get the actual dollar amount.

In [58]:
df['price_per_tonne_usd'] = df['export_value_usd'] * 1000 / df['export_quantity_tonnes']

In [59]:
# Now to rename columns for better clarity ‚úÖ
print(df.shape)
df.head()
df.info()

(62, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    62 non-null     int64
 1   country                 62 non-null     object
 2   export_value_usd        62 non-null     float64
 3   export_quantity_tonnes  62 non-null     float64
 4   reporter                62 non-null     object
 5   price_per_tonne_usd     62 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 3.0+ KB

Now we move onto dropping rows with missing values in key columns

In [61]:
df.dropna(subset=['year', 'country', 'export_value_usd', 'export_quantity_tonnes'], inplace=True)

### Filter

Now that the data has been sorted, I will now filter to just Kenya üåç

In [62]:
# Filter to only include Kenya
df = df[df['reporter'].str.lower() == 'kenya']

I also need to convert the year column into integars and `export_quantity_tonnes` into floats

In [63]:
df['year'] = df['year'].astype(int)
df['export_quantity_tonnes'] = df['export_quantity_tonnes'].astype(float)

### Final Data Check

Recalculating the price per tonne to ensure all transformations are applied correctly after filtering and data type conversions.

In [64]:
df['price_per_tonne_usd'] = df['export_value_usd'] * 1000 / df['export_quantity_tonnes']
#Renaming columns for clarity

### Load 

Save cleaned data to new file

In [71]:
import os

# Ensure the directory exists before saving
os.makedirs('../data/cleaned', exist_ok=True)

# Saving the cleaned data to a new CSV file for Tableau analysis
df.to_csv('../data/cleaned/cleaned_kenyan_avocados.csv', index=False)
print("‚úÖ Data successfully saved to cleaned_kenyan_avocados.csv")

‚úÖ Data successfully saved to cleaned_kenyan_avocados.csv

In [72]:
print("‚úÖ Final shape:", df.shape)
print("‚úÖ Columns:", df.columns.tolist())
df.head()

‚úÖ Final shape: (62, 6)
‚úÖ Columns: ['year', 'country', 'export_value_usd', 'export_quantity_tonnes', 'reporter', 'price_per_tonne_usd']

,year,country,export_value_usd,export_quantity_tonnes,reporter,price_per_tonne_usd
0,2023,World,140939.93,122581000.0,Kenya,1.149770
1,2023,Netherlands,42104.41,37450800.0,Kenya,1.124259
2,2023,United Arab Emirates,19235.41,15931400.0,Kenya,1.207390
3,2023,France,14672.57,12117200.0,Kenya,1.210888
4,2023,Spain,13442.72,11372500.0,Kenya,1.182037

The dashboard visualisations for this data can be found [here](https://public.tableau.com/app/profile/kaori.ikarashi/viz/CarPriceAnalysis_17501618237170/Story1?publish=yes). ADDD LINKKKK HERE FAIZA

### Now that the data has been extracted, cleaned and loaded into a new dataset, The next stage is now to move onto the hypothesis and visualisations for this investigation. üìä